<div class="page-container flex-c flex-g-16">
  <h2>{{ navState().title }}</h2>
  
  @if (parsedTablesHistoric() && parsedTablesHistoric().length > 0) {
  <mat-accordion>
    @for (historic of parsedTablesHistoric(); track historic._id) {
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title class="flex-r flex-g-32">
          <div class="panel__buttons flex-r flex-jc-fs flex-ai-c flex-g-8">
            <button matIconButton color="primary" aria-label="Editar nombre" (click)="editHistoricName(historic._id, historic.name, $event)">
              <mat-icon>edit</mat-icon>
            </button>
            <button matIconButton color="accent" aria-label="Imprimir" (click)="openPrintView(historic._id, $event)" aria-label="Imprimir">
              <mat-icon>print</mat-icon>
            </button>
            <button matIconButton color="primary" aria-label="Clonar" (click)="cloneToManage(historic._id, $event)">
              <mat-icon>file_copy</mat-icon>
            </button>
            <button matIconButton color="warn" aria-label="Eliminar" (click)="deleteHistoric(historic._id, historic.name, $event)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <span class="panel__title">{{historic.name}}</span>
        </mat-panel-title>
        <mat-panel-description>
          <span class="panel__description">{{historic.createdAt | date:'dd/MM/yyyy HH:mm'}}h</span>
        </mat-panel-description>
      </mat-expansion-panel-header>
      
      <div class="panel__content flex-c flex-g-8">
        @for (table of historic.tables; track table._id) {
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{table.name}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <ul class="list">
                @for (exercise of table.exercises; track exercise.exerciseId) {
                  <li class="flex-r flex-jc-fs flex-ai-b flex-g-8">
                    <span class="f-body-l" [style.color]="exercise.color">{{exercise.order + 1}}. {{exercise.name}}</span>
                    <span class="f-body-m">{{exercise.repeticiones}}</span>
                  </li>
                }
              </ul>
            </mat-card-content>
          </mat-card>
        }
      </div>

    </mat-expansion-panel>
    }
  </mat-accordion>
  } @else {
    <p>Aquí verás el histórico de tus tablas de entrenamiento</p>
  }
</div>
