<mat-toolbar color="primary" class="navigation-toolbar">
  <div class="toolbar-content">
    <a routerLink="/historico" class="brand">
      <img src="logo.webp" alt="Gym7orres" class="brand-logo">
    </a>
    
    <nav class="nav-menu">
      <a 
        mat-button 
        routerLink="/ejercicios" 
        routerLinkActive="active"
        (click)="navigateTo('ejercicios')"
        class="nav-link">
        <mat-icon>fitness_center</mat-icon>
        <span>Ejercicios</span>
      </a>

      <a 
        mat-button 
        routerLink="/historico" 
        routerLinkActive="active"
        (click)="navigateTo('historico')"
        class="nav-link">
        <mat-icon>history</mat-icon>
        <span>Histórico</span>
      </a>
      
      <a 
        mat-button 
        routerLink="/gestion" 
        routerLinkActive="active"
        (click)="navigateTo('gestion')"
        class="nav-link">
        <mat-icon>settings</mat-icon>
        <span>Gestión</span>
      </a>
    </nav>
  </div>
</mat-toolbar>
